<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%%DOCUMENT_TITLE%%</title>
  </head>
  <body>
    <nav class="nav-container">
      <a class="links nav_links" href="/">Home</a>
      <a class="links nav_links" href="/new_york">New York</a>
      <a class="links nav_links" href="/reykjavik">Reykjavik</a>
      <a class="links nav_links" href="/copenhagen">Copenhagen</a>
      <a class="links nav_links" href="/moscow">Moscow</a>
      <a class="links nav_links" href="/tokyo">Tokyo</a>
    </nav>
  </body>
</html>
